<?xml version="1.0"?>
<launch>
    <arg name="config" default="front_laser" doc="Add front argument"/>

    <include file="$(find jackal_gazebo)/launch/jackal_world.launch" >
        <arg name="config" value="$(arg config)" />
        <arg name="world_name" value="$(find swarm_robots)/world/Rescue_new.world" />
    </include>

    <node pkg = "teleop_twist_keyboard" type = "teleop_twist_keyboard.py" name = "teleop_controller" output = "screen" />
    <include file="$(find jackal_viz)/launch/view_robot.launch" />
</launch>